form {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 0 2px #000;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 1em; */
  margin-top: 1em;
  margin-bottom: 1em;
}

.order-input {
  text-align: right;
}

.submit {
  padding: 1em 3em;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 4px #fff;
  font-weight: bold;
  cursor: pointer;
}

.submit-buy {
  background-color: #00c805;
}

.submit-sell {
  background-color: #ff5000;
}

.form-submit {
  display: flex;
  justify-content: center;
}

input[type="radio"] {
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

input, select {
  padding: 1em;
}

label {
  margin-right: 1em;
}

.buying-power-info {
  text-align: center;
}
