.price-chart {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1em;
}

.holding-info {
  display: flex;
  justify-content: space-between;
}

.market-value, .average-cost {
  border: 1px solid #000;
  padding: 1em;
}

.market-value > div, .average-cost > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Refactor this later ... */
.market-value > div > span:first-child, .average-cost > div > span:first-child {
  margin-right: 1em;
}

.chart {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}
