#root {
  max-width: 1000px;
  margin: 0 auto;
}

header, section {
  margin: 2rem 0;
  padding: 0 1rem;
}

section h1 {
  margin: 1rem 0;
}

.stock {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  margin-bottom: 2rem;
}
